/* General */  
html, body{
    font-family: 'Karma', sans-serif;
    background-color: lightgray;
    background-image: url(images/background.jpg);
    background-repeat: repeat;
    background-blend-mode:soft-light ;
    font-size: 20;
    line-height: 1;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: flex;
}
/* General */  
body{
    align-items: center;
    columns:inherit;
}
/* Table styling */
table {
    display: table;
    border-collapse: separate;
    background-color: whitesmoke;
    align-content: center;
    border-color: black;
    margin-left: auto;
    margin-right: auto;
}
/* Form styling */
main{
    table-layout: auto;
    font-size: 30;
    margin: 0;
}
/* Typography for shipping policy */ 
p {
    text-align: center;
    font-size: 25px;
    font-weight:900 ;
    background-color: whitesmoke;
    width: auto;
    border: 10px black;
    padding: 50px;
    margin: 20px;
}
/* Typography for shipping header*/ 
h3 {
    font-size: 40px;
    font-weight: bolder;
}
/* Styling border */
footer {
    text-align: center;
}
