/* Author: Toni-Lynn Ibara */
/* Data: 5-14-2021 */
/* General */  
html, body{
    font-family: 'Karma', sans-serif;
    background-color: lightgray;
    background-image: url(images/background.jpg);
    background-repeat: repeat;
    background-blend-mode:soft-light ;
    font-size: 20;
    line-height: 1;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
/* General*/
h2 {
    text-align: center;
    font-size: 40px;
    font-weight: normal;
}
/* Form styling */
form {
    border: none;
    width: 70%;
    background-color: gainsboro;
    align-items: center;
    margin: auto;
}
/* Alignment for the information inputted */
.registration{
    text-align: center;
    padding: 15px;
}
/* Alignment for the information inputted */
.containerlogin {
    text-align: center;
}

